<article class="widget-html-widget widget">
    <header>
        <h1>关于</h1>
    </header>
    <p>This is the digital home of Richard Garside. I'm a web developer based in Leeds. I specialise in .NET MVC and apps for Windows 8 and Mac. You can find out <a href="/about">more about me here</a>.</p>
</article>
